@use 'sass:color';
@use 'src/styles/vars';

.reporting-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.message-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  &>.ui.positive.message {
    text-align: center;
    width: 85%;
  }
}

.ui.button.reporting-button {
  background-color: vars.$warningButtonColor;
  border: 2px solid color.scale(vars.$warningButtonColor, $lightness: -20%);
  color: black;
  font-size: 2rem ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1.5rem 1rem 0.5rem;
  width: 85%;

  &:hover {
    background-color: color.scale(vars.$warningButtonColor, $lightness: -10%);
    border: 2px solid color.scale(vars.$warningButtonColor, $lightness: -30%);
  }

  & .icon {
    transform: scale(1);
  }
}

.ui.styled.accordion {
  box-shadow: none;

  & .title {
    border: none;
  }
    
  & .ui.label {
    color: black!important;
  }
  & .ui.label {
    background-color: vars.$categoryRoute!important;
  }
  & .ui.label.Voirie {
    background-color: vars.$categoryRoute!important;
  }
  & .ui.label.Eclairage.public {
    background-color: vars.$categoryLight!important;
  }
  & .ui.label.Voisinage {
    background-color: vars.$categoryNeighboord!important;
  }
  & .ui.label.Ramassage.des.déchets {
    background-color: vars.$categoryWaste!important;
  }
  & .ui.label.Objets.trouvés.ou.perdu {
    background-color: vars.$categoryObject!important;
  }
  & .ui.label.Autre {
    background-color: vars.$categoryOther!important;
  }
  & .ui.label.Non.validé {
    background-color: vars.$statusRefusedColor!important;
  }
  & .ui.label.En.cours {
    background-color: vars.$statusInProgressColor!important;
  }
  & .ui.label.Terminé {
    background-color: vars.$statusOkColor!important;
  }
}

.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5rem 0;

  & .ui.fluid.dropdown {
    width: 22%;

    &.categories {
    width: 54%;
    }
  }
}