@use 'sass:color';
@use 'src/styles/vars';

.reporting-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  // width: 100%;
}

.ui.button.reporting-button {
  background-color: vars.$warningButtonColor;
  border: 2px solid color.scale(vars.$warningButtonColor, $lightness: -20%);
  color: black;
  font-size: 2rem ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  margin: 1.5rem 1rem 0.5rem;
  width: 70%;

  &:hover {
    background-color: color.scale(vars.$warningButtonColor, $lightness: -10%);
    border: 2px solid color.scale(vars.$warningButtonColor, $lightness: -30%);
  }

  & .icon {
    transform: scale(1);
  }
}

.ui.styled.accordion {
  box-shadow: none;

  & .title {
    border: none;
  }
}

.accordion-title-container {
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;

  & h1 {
    font-size: 1.5rem;
    width: 90%;
    margin: 0;
  }

  & h2 {
    font-size: 0.75rem;
    margin: 0;
    margin-bottom: 0.5rem;
    width: 90%;
  }
    
  & .ui.label {
    color: black!important;
  }

  & .ui.green.label {
    background-color: vars.$statusOkColor!important;
  }

  & .ui.orange.label {
    background-color: vars.$statusInProgressColor!important;
  }

  & .ui.red.label {
    background-color: vars.$statusRefusedColor!important;
  }

  & .ui.blue.label {
    background-color: vars.$categoryRoute!important;
  }

  & .ui.yellow.label {
    background-color: vars.$categoryNeighboord!important;
  }
}

.filter-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5rem 0;

  & .ui.fluid.dropdown {
    width: 22%;

    &.categories {
    width: 50%;
    }
  }
}