@use 'sass:color';
@use 'src/styles/vars';

.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 2rem;
}

.menu-list .ui.button {
  font-size: 2rem;
  width: 10rem;
  height: 10rem;
  margin: 1rem 1rem;
  transition: all .5s ease-in-out;

  &:hover {
    box-shadow: 2px 2px 9px 0px rgba(0,0,0,0.7);
    transform: scale(1.02);
  }

  &.council {
    font-size: 1.5rem;
    background-color: vars.$councilButtonColor;
    border: 2px solid color.scale(vars.$councilButtonColor, $lightness: -20%);

    &:hover {
      background-color: color.scale(vars.$councilButtonColor, $lightness: -10%);
      border: 2px solid color.scale(vars.$councilButtonColor, $lightness: -30%);
    }
  }

  &.article {
    background-color: vars.$articleButtonColor;
    border: 2px solid color.scale(vars.$articleButtonColor, $lightness: -20%);

    &:hover {
      background-color: color.scale(vars.$articleButtonColor, $lightness: -10%);
      border: 2px solid color.scale(vars.$articleButtonColor, $lightness: -30%);
    }
  }

  &.warning {
    background-color: vars.$warningButtonColor;
    border: 2px solid color.scale(vars.$warningButtonColor, $lightness: -20%);

    &:hover {
      background-color: color.scale(vars.$warningButtonColor, $lightness: -10%);
      border: 2px solid color.scale(vars.$warningButtonColor, $lightness: -30%);
    }
  }

  &.school {
    background-color: vars.$schoolButtonColor;
    border: 2px solid color.scale(vars.$schoolButtonColor, $lightness: -20%);

    &:hover {
      background-color: color.scale(vars.$schoolButtonColor, $lightness: -10%);
      border: 2px solid color.scale(vars.$schoolButtonColor, $lightness: -30%);
    }
  }

  &.homepage {
    background-color: vars.$homepageButtonColor;
    border: 2px solid color.scale(vars.$homepageButtonColor, $lightness: -20%);

    &:hover {
      background-color: color.scale(vars.$homepageButtonColor, $lightness: -10%);
      border: 2px solid color.scale(vars.$homepageButtonColor, $lightness: -30%);
    }
  }

  &.admin {
    background-color: vars.$adminButtonColor;
    border: 2px solid color.scale(vars.$adminButtonColor, $lightness: -20%);

    &:hover {
      background-color: color.scale(vars.$adminButtonColor, $lightness: -10%);
      border: 2px solid color.scale(vars.$adminButtonColor, $lightness: -30%);
    }

    & p {
      font-size: 1.25rem;
      
    }
  }
}

.buttonMenu-container {
  color: #4b4b4b;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:hover {
    color: color.scale(#4b4b4b, $lightness: -60%);
  }
  
  & .icon {
    transform: scale(2);
    padding-top: 0.8rem;
    padding-bottom: 3.75rem;

    &.council {
      padding-bottom: 3rem;
    }
  }
}

/* Desktop */
@media (min-width: 900px) {
  .menu-list .ui.button {
    width: 20rem;
    height: 10rem;
  }
}