@use 'src/styles/vars';

.report {
    margin: 1rem, 1.5rem 1rem;

    &-header {
        //background-color: vars.$backgroundBlocColor;
        padding: 1rem;
        margin: 1rem;
        border-radius: 1rem;
    }

    &-title {
        text-align: center;
    }

    &-date {
        display: flex;
        justify-content: space-around;
    }
    
    &-statut {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-around;
    }

    &-checkbox {
        padding: 0.8rem 2rem;
        background-color: #a6c8c7;
        border-radius: 1rem;
        cursor: pointer;
    }

    &-info {
        //background-color: vars.$backgroundBlocColor;
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
        padding: 1rem;
        border-radius: 1rem;
    }
    &-image {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    & .ui.input {
        display: flex;
        width: 100%;
        margin-bottom: 1rem
    } 
}
.report .ui.button {
    margin-top: 1rem;
    width: 100%;
    background-color: #a6c8c7;
}
//[type="radio"] {
   // clip: rect(0 0 0 0); 
   // position: absolute; 
//}