@use 'src/styles/vars';

.reportAdmin {
    margin-bottom: 2rem;
    h2 {
        margin-bottom: 0;
        padding-right: 1rem;
    }
    &-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0 0;
    }

    &-statut {
        color: white;
        padding: 0.3rem;
        border-radius: 0.3rem;
        &--Résolu {
            background-color: vars.$statusOkColor;
        }
        &--En_cours {
            background-color: vars.$statusInProgressColor;
        }
        &--Non_validé {
            background-color: vars.$statusRefusedColor;
        }
        &--Non_résolu {
            background-color: vars.$statusRefusedColor;
        }
    }

    &-header {
        //background-color: vars.$backgroundBlocColor;
        margin: 1rem;
        border-radius: 1rem;
    }

    &-date {
        display: flex;
        justify-content: space-around;
        margin-top: 1rem;
        align-items: self-end;
    }
    
    &-newStatut {
        display: flex;
        margin-bottom: 1rem;
        flex-wrap: wrap;
    }

    // &-checkbox {
    //     padding: 0.8rem 2rem;
    //     background-color: #a6c8c7;
    //     border-radius: 0.5rem;
    //     cursor: pointer;

        input {
            display: inline;
            margin: 0.3rem;
            justify-content: space-between;
        }
    // }

    &-info {
        //background-color: vars.$backgroundBlocColor;
        width: 80%;
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 2rem;
        border-radius: 1rem;
    }
    &-image {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    & .ui.input {
        display: flex;
        width: 100%;
        // height: 8rem;
        margin-bottom: 1rem
    } 

    &-button {
        display: flex;
        width: 90%;
        margin: auto;
    }
    & .ui.button {
        width: 50%;
    }
}

button.ui.button.reportAdmin-submit {
    background-color: vars.$createColor;
}

button.ui.button.reportAdmin-abort {
    background-color: vars.$statusRefusedColor;
}
[type="radio"] {
   clip: rect(0 0 0 0); 
   position: absolute; 
}

  input[type="radio"] + label {
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    color: #fff;
    background-color: #6c757d;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
  }
  input[type="radio"]:hover + label {
    background-color: vars.$createColor;
    border-color: vars.$createColor;
    cursor: pointer;
  }
  input[type="radio"]:checked + label {
    background-color: vars.$createColor;
    border-color: vars.$createColor;
  }