$councilButtonColor: #E9A2AD;
$articleButtonColor: #8DD7CF;
$warningButtonColor: #FBE192;
$schoolButtonColor: #F3C19D;
$homepageButtonColor: #E0E1E2;
$adminButtonColor: #909090;

$statusOkColor: #8dd797;
$statusInProgressColor: #F3C19D;
$statusRefusedColor: #E9A2AD;
$categoryRoute: #8DD7CF;
$categoryLight: #FBE192;
$categoryNeighboord: #a592fb;
$categoryWaste: #909090;
$categoryObject: #F3C19D;
$categoryOther: #E0E1E2;

$createColor: #8db9d7;
$edit: #FBE192;
$process: #8DD7CF;

$backgroundBlocColor: rgb(173, 173, 173);

