$councilButtonColor: #E9A2AD;
$articleButtonColor: #8DD7CF;
$warningButtonColor: #FBE192;
$schoolButtonColor: #F3C19D;
$adminButtonColor: #CACBCD;

$statusOkColor: #8dd797;
$statusInProgressColor: #F3C19D;
$statusRefusedColor: #E9A2AD;
$categoryRoute: #8DD7CF;
$categoryNeighboord: #a592fb;
