@use 'sass:color';

.admin {
    margin: 0 1.5rem 0;

    & h2 {
        text-align: center;
        margin-top: 0rem;
    }

    & .login {
      padding: 2rem 0 1rem;
    }

    &-content {
        margin-bottom: 2rem;

        .create {
            background-color: #8db9d7;

            &:hover {
                background-color: #8db9d7;
            }
        }
        .edit {
            background-color: #FBE192;

            &:hover {
                background-color: #FBE192;
            }
        }
        .process {
            background-color: #8DD7CF;

            &:hover {
                background-color: #8DD7CF;
            }
        }

        .ui.button {
            margin: 0.2rem;
        }
    }

    &-button .ui.button {
        width: 100%;
        text-align: center;
        align-items: center;
        border: solid 0.1rem grey;
    }

    &-button {
        text-align: center;
        background-color: #EEEEEE;
        padding: 1rem;
        border: solid 0.1rem grey;
        border-radius: 1rem;
    }

    form {
        display: flex;
        flex-direction: column;
        margin: 1rem;
    }
}

.ui.message.inprogress-adminMessage {
  text-align: justify;
  margin: 0.2rem;
  padding: 0;
  width: 100%;
  border: solid 0.1rem grey;
  & .icon {
    transform: scale(0.75);
  }

}
