.card-container {
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  & h1 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  & .ui.card {
    width: 25%;
    margin: 0 1rem 1rem;

    & .content {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &.content-circle {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        color: rgba(0,0,0,.6);
        & h2 {
          margin: 0;
          text-align: center;
          font-size: 1rem;
        }
      }

    
    }

    &>.content>.card-header {
      text-align: center;
      font-size: 0.8rem;
      margin: 0.33rem 0;
      padding: 0;
    }

    &>.content>.meta {
      text-align: center;
      font-size: 1rem;
      margin: 0.33rem 0;
      padding: 0;
    }
  }
}
