.menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.menu-list .ui.button {
  font-size: 2rem;
  width: 10rem;
  height: 10rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.menu-list .ui.button.council {
  font-size: 1.5rem;
}

.button-container .icon {
  color: white;
  transform: scale(2.5);
  padding-top: 0.8rem;
  margin-bottom: 4rem;
}

