.header {

    &-logo {
        align-items: center;
        width: 100%;
    }

    &-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: solid 0.05rem;
        border-bottom: solid 0.05rem;
        padding: 0.6rem 2.5rem;
    }
    &-title {
        margin: 0;
    } 

}
.ui.button.header-button {
  border: none;
  box-shadow: none;
  background-color: transparent;
}

.ui.button.header-button .icon {

    transition: transform .3s ease-out;
    transform: scale(2.5);

}

.ui.button.header-button--open .icon {
    transform: scale(2.5) translateX(0) rotate(90deg);
}
