.header {

    &-logo {
        align-items: center;
        width: 100%;
        // background-size: contain;
    }

    &-content {
        display: flex;
        justify-content: space-between;
        border-top: solid 0.05rem;
        border-bottom: solid 0.05rem;
        align-items: center;
        padding: 0.6rem 2.5rem;
    }
    &-title {
        margin: 0;
    } 

}
.header-button.ui.button.basic {
  border: none;
  box-shadow: none;
}