.footer{
    padding: 0 1.5rem 0;
    text-align: center;

    &-infos {
        border-top: solid 0.1rem;
        margin-top: 1rem;
    }
    &-hourly {
        border-top: solid 0.1rem;
        margin-top: 1rem;
    }
    &-followUs {
        border-top: solid 0.1rem;
        margin-top: 1rem;
        
    }

    
}