.footer{
    padding: 0 1.5rem 5rem;
    text-align: center;
    background-color: #EEEEEE;

    &-infos {
        border-top: solid 0.1rem;
        margin-top: 1rem;
    }
    &-hourly {
        border-top: solid 0.1rem;
        margin-top: 1rem;
    }
    &-followUs {
        border-top: solid 0.1rem;
        margin-top: 1rem;
        
    }

    h2 {
        margin-top: 0.5rem;
    }
}