.reporting-form {
  margin-bottom: 2rem;

  & h1 {
    text-align: center;

  }

  & .filter-section {
    width: 150%;
    margin-bottom: 1rem;
  }

  & .reporting-form-textarea {
    width: 90%;
  }

  & .ui.button {

    &.form-submit {
      background-color: #2ace2a;
      margin-right: 3rem;
    }
    &.form-back {
      background-color: #cf2f2f;
    }
  }

  & .ui.form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    & .ui.input {
      margin-bottom: 1rem;
      
      &.error {
        border: 2px solid #c33e3e;
        color: #c33e3e ;
      }
      
      &.field-reporting_title {
        width: 75%;
      }
    }
  
    & .reporting-form-checkbox {
      width: 90%;
      display: flex ;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
  
      & .accordion.ui {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
        & .retail-container {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-items: center;
          
          & p {
            margin: 0;
          }
        }
  
        & .ui.message {
          padding: 1rem;
        }
      }
    }
  }
}

.ui.dropdown {

  font-size: 1rem;

  &>.text>.icon {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  }

  & .menu>.item>.icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 100%;
  }
}

.ui.message {
  text-align: center;
  margin: 1rem auto;
  width: 80%;
  margin-bottom: 2rem;
}
