@use 'src/styles/vars';

.login {
    text-align: center;
    padding: 3rem 0;

    & h1 {
      font-size: 1rem;
      padding-bottom: 1rem;
    }

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;

    &-message {
        padding: 1rem 2rem;
        font-size: 1rem;
      }

    & .ui.input{
      width: 80%;;

      &.error input {
        border: 2px solid #c33e3e;
        color: #c33e3e ;
      }
    }
  }

}
    
.green {
    color: green;
  }
.red {
    color: red;
  }
  
.login-form>.ui.input {
  margin-top : 1rem;
}

.ui.button.login-form-button {
  background-color: vars.$createColor;
  margin: 1rem;
  width: 50%;

  &:active {
    background-color: vars.$createColor;
  }
}

.ui.button.logout-button {
  background-color: vars.$statusRefusedColor;
}

