@use 'src/styles/vars';

.login {
    text-align: center;
    padding: 1rem 0 0;

    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;

    &-message {
        padding: 1rem 2rem;
        font-size: 1rem;
      }

    & .ui.input{
      width: 80%;;
    }
  }

}
    
.green {
    color: green;
  }
.red {
    color: red;
  }
  
.login-form>.ui.input {
  margin-top : 1rem;
}

.ui.button.login-form-button {
  background-color: vars.$createColor;
  margin-top: 1rem;
  width: 50%;

  &:active {
    background-color: vars.$createColor;
  }
}

.ui.button.logout-button {
  background-color: vars.$statusRefusedColor;
}






// .login-form-login>.ui.input {
//     color: blue;
// }



// .ui.button {
//     border: 2px solid green;

// }

// .ui.button.login-form-button {
//     border: 2px solid yellow;
// }

// .ui.button.login-login {
//     border: 2px solid red;

// }